@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Radio+Canada:wght@400;600&display=swap');
html {
  box-sizing: border-box;
}

:root {
  --Lobster: 'Lobster', cursive;

  --Radio: 'Radio Canada', sans-serif;
}

body {
  background-color: #faf4b6;
  
}
main {
  height: 100%;
}

.header-content {
  align-items: center;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  height: 60%;
}

.header-content h1 {
  color: #f9c6b3;
  font-family: var(--Lobster);
}

.burguerFlex {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid #daedee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.burguer {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  background-color: #daedee;
  height: 5px;
  width: 35px;
  margin: 5px;
  border-radius: 2px;
  transition: all 0.3s linear;
}

.menu .bar1 {
  background-color: white;
  transform-origin: center;
  transform: rotate(-45deg)
    translate(-7px, 7px);
}
.menu .bar2 {
  background-color: white;
  transform-origin: center;
  transform: scale(0.1);
  visibility: hidden;
}
.menu .bar3 {
  background-color: white;
  transform-origin: center;
  transform: rotate(45deg)
    translate(-7px, -7px);
}

.desk-nav, .desk-social {
  display: none;
  list-style: none;
}


#beach-header .dropdown-menu {
  background-color: #f7d256;
  
}

#beach-header .dropdown-item {
  color: #173657;
  font-family: var(--Radio);
}

#beach-header .dropdown-item:hover {
  background-color: #badadb;
  font-family: var(--Radio);
}

#beach-header {
  background-image: url("../media/header576.png");
  background-position: top ;
  background-size: cover;
  height: 100px;
}

#beach-footer {
  background-image: url("../media/footer576.png");
  background-position: top ;
  background-size: cover;
  height: 100px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #beach-header {
    background-image: url("../media/header768.png");
    height: 100px;
  }

  .burguerFlex {
    margin-right: 10px;
  }
}

.desk-nav {
  display: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #beach-header {
    background-image: url("../media/header992.png");
    height: 150px;
  }
  .burguerFlex {
    display: none;
  }
  
  .header-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 80%;
  }
  .header-content nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 80%;
    width: 80%;
  }
  .desk-nav, .desk-social {
    display: flex;
  }
  .desk-nav a, .desk-social a {
    color: #daedee;
    text-decoration: none;
  }
  .desk-nav a {
    font-size: 1.2em;
    font-style: var(--Radio);
    font-weight: 600;
  }
  .desk-nav a:hover, .desk-social a:hover {
    color: #f9c6b3;
    font-style: var(--Radio);
  }
  .desk-nav {
    align-self: center;
    width: 60%;
    justify-content: space-evenly;
  }
  .desk-social {
    justify-content: space-evenly;
    width: 30%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #beach-header {
    background-image: url("../media/header1200.png");
    height: 150px;
  }

  .desk-nav a {
    font-size: 1.5em;
  }

  .desk-nav {
    width: 40%;
  }
  .desk-social {
    width: 20%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #beach-header {
    background-image: url("../media/header1400.png");
    height: 160px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #beach-header {
    background-image: url("../media/header1600.png");
    height: 200px;
  }
}