*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{   


}

.container{
    width: 95%;
/*     max-width: 1200px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;

}
.sabiasque{
    /* background: #faf4b6; */
}

.img_cabecera{
    text-align: center;
}

.wave{
    height: 100%;
    width: 100%;
    background-image: url(./image/fish.jpg);
    
}

.riesgossec{
    /* color: white; */
    background-image: url(./images/fish.jpg);


}

